.card{
    position: relative;
    background-color: var(--onBackground);
    border-radius: .25rem; 
    padding: 1rem; 
    color: #ffffff; 
}

.img-style{
    width: 100%;
}

.mt-2{
    margin-top: 0.5rem;
}

.rating{
    color: black;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover{
    scale: 1.01;
    cursor: pointer;
}